/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
box-sizing:border-box;  
margin: 0;
padding: 0;
}

button, summary {
cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
/* startje */
--color-text:#111;
--color-background:#eee;
--main-color: #7d69ac;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


@font-face {
font-family: "RecoletaRegular";
src:  url("../fonts/recoleta-regular-64d11d4995ce25c035a16a5951697d8c\ \(1\).woff2") format('woff2');

}


@font-face {
font-family: "Recoletaextra";
src:  url("../fonts/regular-c8e79486792d1092a876e5b263f97155\ \(1\).woff2") format('woff2');

}

@font-face {
font-family: "Recoletaextra2";
src:  url("../fonts/GoodHeadlineProRegular-d415bfb241fccd77e66766bff87e8e1f.woff2") format('woff2');

}






@font-face {
font-family: "RecoletaMedium";
src:  url("../fonts/recoleta-medium-ceef486bde7a458aa23935382bc5f977.woff2") format('woff2');

}


header {
display: flex;
justify-content: space-between;
position: fixed;
left: 0;
right: 0;
padding: 1em;
align-items: center;
background-color:#7d69ac;
z-index: 999;
}

nav {
max-width: 100%;
display: none;
align-items: center;
}

@media (width > 900px){
nav {
display: flex;

}
}

header li a{
text-decoration: none;
padding: 1em;
color: white;
text-transform:uppercase;
font-family: GoodHeadlinePro,Arial,Helvetica,sans-serif;
letter-spacing: 2px;
font-weight: 700;
font-size: 17px;
}

header img {
max-width: 10em;


}




header input {
padding-inline: 2em;
padding-block: 0.5em;

}

header input[type="search"] {
padding-left: 2.5em;


}

#search-input {
color:black;
}


header input[type="submit"] {
background-color: white;
color:black;
}

header form label{
position:absolute ;
margin-left: 0.5em;
margin-top: 0.3em;



}


header form {
display:flex ;
}


header ul {
display: flex;
list-style: none;
text-decoration: none;
padding: 0em 1em 0em 1em;
}



.toonMenu header ul {
text-decoration: none;
padding: 0em 1em 0em 1em;
list-style: none;
gap: 2em;
flex-direction: column;
display: flex;
}


.toonMenu nav {
display: flex;
flex-direction: column;
background-color: white;
position: absolute;
height: 100vh;
left: 0;
top: 0;
width: 100%;
padding: 10em;
gap: 2em;


}


.toonMenu nav a {
color:var(--main-color);



}




span {
width: 3.6em;
height: 0.3em;
background-color: white;
display: block;
transition: 0.2s;
}	

.toonMenu span {

background-color:#7d69ac;




}

.toonMenu span:first-of-type {

transform: rotate(45deg);
transform-origin: 0 50%;

}

.toonMenu span:nth-of-type(2) {
opacity: 0;
}


.toonMenu span:last-of-type {

transform: rotate(-45deg);
transform-origin: 0 50%;

}


header button {
z-index: 2;
gap: 1em;
flex-direction: column;
display: flex;
border: none;
background-color: transparent;
}

@media (width > 900px){
header button {
display: none;

}
}

main img{
width: 100%;

}


input {
display: block;
padding-inline: 30em;
padding-block: 1em;
border-radius: 2em;
border-color: #7d69ac;

}



main section:nth-of-type(2)  h2 {
text-align: center;
color: #3B2774;
font-size: 3em;
font-weight: 500;
font-family: "RecoletaRegular",Arial,Helvetica,sans-serif;


}

main section:nth-of-type(2)  p {
text-align: center;
color:#3B2774 ;
padding-inline: 12em;
padding-block: 1em;


font-size: 1.5em;

}

main section:first-of-type {
background-image: url("../images/banner-milka.webp");
background-size: cover;
height: 100vh;
position: relative;
padding-top: 10em;
}

main section:first-of-type img {
position:absolute;
bottom: 0;
}



main section:nth-of-type(2)   {
bottom: 50%;
}


label{
display: block;

}

ul {
list-style: none;
padding: 0;
}




header form {
display:flex ;
}





h1 {


font-size: 3em;
line-height: 3em;
text-align: center;
color: white;
right: 11em;
font-family:"RecoletaRegular",Arial,Helvetica,sans-serif ;
font-weight: 100;



}


main section:nth-of-type(1)  h2 { 
position: absolute;
font-size: 4em;
text-align: center;
font-weight: 400;
color: white;
width: 17em;
top: 4em;
left: 3.5em;
font-family: "RecoletaMedium",Arial,Helvetica,sans-serif;
margin: auto;


}



main section:nth-of-type(2) {
background-image: url("../images/achtergrond-kleur.jpeg");

}








ul {
list-style: none;
padding: 0;
margin:0;
padding:0;
list-style:none;
}

li {
position: relative;
overflow: hidden;
}

li img {
max-width: 100%; 
}

ul img:hover {

transition: 1s ease;
transform: scale(1.1)
}



li button { 
position: absolute;
bottom: 0%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #93D1F4;
color: darkblue;
padding: 1em;
padding-inline: 7em;
border: none;
border-radius: 5em;
cursor: pointer;
transition: background-color 0.3s;
text-transform: uppercase;
font-weight: 600;


}


li button:hover {
background-color: plum;
}


ul li p {
position:relative;
display:grid;
place-items:center;
}



ul li  img {
width:100%;
display:block;
height:30vw;

object-fit:cover;
}



@media (min-width:40em) {
main ul {
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows: 1fr 1fr;
}


}






footer img:first-of-type {
width: 50%;
height: auto;
display: block;

}

footer img:nth-of-type(2) {
width: 100%;
height: 13em;
grid-column: 1/5;
object-fit: cover;
object-position: top center;
}


footer {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 1em;
padding-top: 5em;
background-color: white;

}



footer h2{
position: relative;
padding-bottom: 1em;
margin-bottom: 1em;
text-transform: uppercase;
font-size:1em;

letter-spacing: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

footer h2:hover {
text-decoration: underline;
}

footer a{
text-decoration: none;
width: max-content;
white-space: nowrap;
gap: 2em;
font-family: Arial, Helvetica, sans-serif;
color: #7d69ac;
}

footer ul{

grid-column: 1/5;
justify-content: center;
font-weight: 100;
width: 100%;
color: #7d69ac;



}

footer li {
padding-block: 0.5em;
color: #7d69ac;
}

footer li:hover {

text-decoration: underline;
}

footer >ul{
list-style: none;
display: flex;
text-transform: uppercase;
gap: 2em;
padding-block: 1em;

}

footer h2:after {
content: "";
background-color: #7d69ac;
height: 2px;
width: 80%;
position: absolute;
bottom: 0;
left: 0;


}



@media only screen and (max-width: 900px) {
main img {
width: 100%; 
}

input {
padding-inline: 1em; 
}

main section:nth-of-type(2) p {
padding-inline: 1em; 
}

header {
padding: 0.5em; 
}

header ul {
flex-direction: column; 
}

header img {
max-width: 8em; 
}

header input {
	padding-inline: 1em;
  }
  
header form label {
display: none; 
margin-left: 0.2em;
margin-top: 0.2em;
}

h1 {
right: 0; 
}

main section:nth-of-type(1) h2 {
width: auto; 
top: 0; 
font-size: 3em;
top: 6em;
right: 3em;
}

ul li button {
padding-inline: 2em; 
}

footer {
grid-template-columns: 1fr;
}

footer ul{
font-size: 0.60em;
}
footer img:first-of-type {
width: 100%; 
}

footer img:nth-of-type(2) {
width: 100%; 
}
}