/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--main-color: #7d69ac;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


@font-face {
	font-family: "RecoletaRegular";
	src:  url("../fonts/recoleta-regular-64d11d4995ce25c035a16a5951697d8c\ \(1\).woff2") format('woff2');
  
  }
  
  @font-face {
	  font-family: "Recoletaextra";
	  src:  url("../fonts/regular-c8e79486792d1092a876e5b263f97155\ \(1\).woff2") format('woff2');
	
	}
  
	@font-face {
	  font-family: "Recoletaextra2";
	  src:  url("../fonts/GoodHeadlineProRegular-d415bfb241fccd77e66766bff87e8e1f.woff2") format('woff2');
	
	}
	
  @font-face {
	  font-family: "RecoletaMedium";
	  src:  url("../fonts/recoleta-medium-ceef486bde7a458aa23935382bc5f977.woff2") format('woff2');
	
	}


	header {
		width: 100%;
		right: 0;
		position: fixed;
		padding: 1em;
		left: 0;
		justify-content: space-between;
		display: flex;
		background-color:#7d69ac;
		align-items: center;
		z-index: 100;
	}
	
	
	nav {
		max-width: 100%;
		display: none;
		align-items: center;
	}
	
	@media (width > 900px){
		nav {
		display: flex;
		}
		}
	
	header li a{
	text-transform:uppercase;
	text-decoration: none;
	padding: 1em;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 17px;
	font-family: GoodHeadlinePro,Arial,Helvetica,sans-serif;
	color: white;
	}
	
	header img {
	width: 10em;
	max-width: 100%;
	
	}
	
	header button {
		z-index: 2;
		gap: 1em;
		flex-direction: column;
		display: flex;
		border: none;
		background-color: transparent;
		}
		
		@media (width > 900px){
			header button {
			display: none;
				
			}
			}
	
	header input {
		padding-inline: 2em;
		padding-block: 0.5em;

		}
	
	header input[type="search"] {
		padding-left: 2.5em;
	
		}
	
	
	header input[type="submit"] {
		background-color: white;
		}
	
	header form label{
		position:absolute ;
		margin-left: 0.5em;
		margin-top: 0.3em;
		}
		
	header form {
			display:flex ;
		
		}
			
		
		
		
	header ul {
		display: flex;
		list-style: none;
		text-decoration: none;
		padding: 0em 1em 0em 1em;
		}

		
	.screenreader {
	clip-path: inset(50%);
	}
		
		


	.toonMenu header ul {
		text-decoration: none;
		padding: 0em 1em 0em 1em;
		list-style: none;
		gap: 2em;
		flex-direction: column;
		display: flex;
		}
	
	
	
	.toonMenu nav {
		width: 100%;
		top: 0;
		position: absolute;
		padding: 10em;
		left: 0;
		height: 100vh;
		gap: 2em;
		flex-direction: column;
		display: flex;
		background-color: white;
		}
	
	
	.toonMenu nav a {
		color:var(--main-color);
		
			}
		
			.toonMenu header ul {
				display: flex;
				flex-direction: column;
				list-style: none;
				text-decoration: none;
				padding: 0em 1em 0em 1em;
				gap: 2em;
				}
			
			.toonMenu nav {
				display: flex;
				flex-direction: column;
				background-color: white;
				position: absolute;
				height: 100vh;
				left: 0;
				top: 0;
				width: 100%;
				padding: 10em;
				gap: 2em;
				
				
				}
			
			
				.toonMenu nav a {
				color:var(--main-color);
				
					
					
					}
			
			
			span {
				width: 3.6em;
				height: 0.3em;
				background-color: white;
				display: block;
				transition: 0.2s;
			}
			
			
			.toonMenu span {
				
				background-color:#7d69ac;
				}
			
			
				.toonMenu span:first-of-type {
			
					transform: rotate(45deg);
					transform-origin: 0 50%;
			
					}
			
					.toonMenu span:nth-of-type(2) {
						opacity: 0;
						}
			
						
					.toonMenu span:last-of-type {
			
						transform: rotate(-45deg);
						transform-origin: 0 50%;
				
						}
			
			header button {
			display: flex;
			gap: 1em;
			flex-direction: column;
			background-color: transparent;
			border: none;
			z-index: 2;
			}
			
			@media (width > 900px){
				header button {
				display: none;
					
				}
				}




body {
	background-image: url(images/achtergrond-kleur.jpeg);
		overflow-x: hidden ;
		
		}
	
main img{
width: 100%;

}



main button:nth-of-type(1)  { 
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #93D1F4;
    color: darkblue;
    padding: 1em;
	padding-inline: 3em;
    border: none;
    border-radius: 5em;
    cursor: pointer;
    transition: background-color 0.2s;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1em;
	
	
}
@media only screen and (max-width: 900px) {
	main button:nth-of-type(1)  {
		
		
		
	}
}

main button:hover {
    background-color:  plum;
}



.ingredienten section:nth-of-type(1) {

display: grid;
grid-template-columns: repeat(1, minmax(1,1fr));
gap: 15em;
padding: 5em;
align-items: center;


}


.ingredienten section:nth-of-type(1)  h2 {
grid-column:  1/-1;
text-align: center;
color: darkblue;
font-family: "RecoletaMedium";
font-weight: 400;
padding-inline: 8em;
text-transform: uppercase;
font-size: 3em;
}


.ingredienten section p:nth-of-type(1) {
color: purple;
padding-block: 2em;
font-size: 19px;
line-height: 1.5em;
font-family: "RecoletaRegular";
}


.ingredienten section:nth-of-type(2)   {
background-color: #7d69ac;
display: grid;
grid-template-columns: repeat(1fr  );
align-items: center;
width: 100%;

}


.ingredienten section p:nth-of-type(2) {
color: purple;
font-family: "RecoletaRegular";
font-size: 19px;
line-height: 1.5em;
	
	}

	.ingredienten section:nth-of-type(2)  h2 {
	padding-top: 2em;
	font-size: 2.5em ;
	text-align: center;
	color: white;
	grid-column: 1/-1 ;
	gap: 2em;
	font-family:"RecoletaMedium" ;
	font-weight: 400;

	}

	.ingredienten section:nth-of-type(2)  p {
	font-size: 19px ;
	color: white;
	gap: 2em;


	}

	.ingredienten section:nth-of-type(1)  img {
	width: 40%;

	}

	@media (width > 900px){
		.ingredienten section:nth-of-type(2)
		  {
			grid-template-columns: repeat(2, 1fr 1fr);
			
		}
		.ingredienten section:nth-of-type(1) {
			grid-template-columns: repeat(2, minmax(1,1fr));
		}
		.ingredienten section:nth-of-type(1)  h2 {
			grid-column:  span 2;
		}
		.ingredienten section:nth-of-type(1)  img {
			width: 100%;
		}
		.ingredienten section p:nth-of-type(2) 
		{	
			max-width: 100%;
		}
	}


	main form {

	background-color: #7d69ac ;
	padding: 15em;
	
}

.ingredienten section:nth-of-type(3) input {

	width: 100%;
	padding: 1em;
	padding-block: 1em;
	border-radius: 2em;
	border-color: #7d69ac;
	
	
}

input {
	
	padding: 1em;
	padding-block: 1em;
	border-radius: 2em;
	border-color: #7d69ac;
}


label{
	display: block;
	color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.image-item {
    position: relative;
    text-align: center;
    margin-bottom: 20px; 
}

/* input[type=submit] {
	color: ;
} */

		
.ingredienten section:nth-of-type(3)   {


	justify-content: center;
	

		
}	
	
.ingredienten section:nth-of-type(4)   {
	padding-block: 5em;
	text-align: center;
	align-items: center;
	background-image: url("../images/achtergrond-kleur.jpeg");
	

		
}	


.ingredienten section:nth-of-type(4) h2  {
	padding-bottom: 2em;
	text-align: center;
	font-size: 3em;
	color: darkblue;
	font-family: "RecoletaMedium";
	font-weight: 400;
	
	
		
}	


.ingredienten section:nth-of-type(4)  img {

	width: 50%;
	height: 400px;
	align-items: center;
		
}	


footer img:first-of-type {
width: 50%;
height: auto;
display: block;

}

footer img:nth-of-type(2) {
	width: 100%;
	height: 13em;
	grid-column: 1/5;
	object-fit: cover;
	object-position: top center;
	}


footer {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1em;
	padding-top: 5em;
	background-color: white;

}

footer h2{
position: relative;
padding-bottom: 1em;
margin-bottom: 1em;
text-transform: uppercase;
font-size:1em;
letter-spacing: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

footer h2:hover {
	text-decoration: underline;
}



footer a{
	text-decoration: none;
	width: max-content;
	white-space: nowrap;
	gap: 2em;
	font-family: Arial, Helvetica, sans-serif;

}

footer ul{
	
	grid-column: 1/5;
	justify-content: center;
	font-weight: 100;
	width: 100%;
	max-width: 100%;
	

}





footer li {
	padding-block: 0.5em;
}


footer li:hover {
    
	text-decoration: underline;
}

footer>ul{
	list-style: none;
	display: flex;
	text-transform: uppercase;
	gap: 0.8em;
	padding-block: 1em;
	
}

footer h2:after {
	content: "";
	background-color: #7d69ac;
	height: 2px;
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 0;
}



		@media only screen and (max-width: 900px) {
			
		  
			header {
			  padding: 0.5em;
			}
		  
			header li a {
			  font-size: 14px;
			}
		  
			header img {
			  max-width: 8em;
			}
		  
			header input {
			  padding-inline: 1em;
			}
		  
			header form label {
			  margin-left: 0.2em;
			  margin-top: 0.2em;
			}
		  
			main button:nth-of-type(1) {
			  padding-inline: 3em;
			}
		  
			.ingredienten section:nth-of-type(1) {
			  gap: 1em;
			  padding: 1em;
			}
		  
			.ingredienten section:nth-of-type(1) h2 {
			  padding-inline: 1em;
			  font-size: 1.8em;
			}
		  
			.ingredienten section:nth-of-type(1) p {
			  padding-block: 1em;
			  font-size: 14px;
			  
			 
			}
		  
			.ingredienten section:nth-of-type(2) {
			  gap: 0.5em;
			}
		  
			.ingredienten section:nth-of-type(2) h2 {
			  font-size: 1.5em;
			  padding-top: 0.5em;
			}
		  
			.ingredienten section p:nth-of-type(2) {
			  font-size: 14px;
			}
		  
			.ingredienten section:nth-of-type(1) img {
			  width: 80%;
			  padding-left: 8em;
			}
		  
			main form {
			  padding: 1em;
			}
		  
			input {
			  padding: 0.8em;
			}
		  
			.ingredienten section:nth-of-type(4) h2 {
			  font-size: 1.5em;
			}
		  
			.ingredienten section:nth-of-type(4) img {
			  width: 80%;
			}
		  
			footer img:first-of-type {
			  width: 50%;
			}
		  
			footer img:nth-of-type(2) {
			  height: 6em;
			}
		  
			footer h2 {
			  font-size: 0.7em;
			}
		  
			footer ul {
			  font-size: 0.50em;
			}
		  
			nav {
			  padding: 0.65em;
			}
		  
			header ul {
			  padding: 0em;
			}
		  
			.toonMenu nav {
			  padding: 1em;
			}
	

		  
			footer {
			  display: grid;
			  grid-template-columns: 1fr;
			  gap: 1em;
			  padding-top: 3em;
			}
		  
			footer h2 {
			  font-size: 1em; 
		  
			}
		  }